@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque'), url('../assets/BrandonGrotesque-Bold.woff') format('woff');
}

h1, h2, h3, h4, h5, h6, li, a, p, label, sup {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Brandon Grotesque';
    font-weight: 500;
    font-size: 3em;
    margin: 0px;
    @media screen and (max-width: 768px) { font-size: 2.2em; }
}

label, p {
    font-family: 'Brandon Grotesque';
    font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
}

p {
	font-size: 1.2em;
    font-weight: 500;
    @media screen and (max-width: 768px) { font-size: 1em; }
}

a, .text-primary {
    color: $blue-burn;
}
