@import './variables.scss';
@import './typography.scss';

.layout {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    transition: background 0.3s ease-in-out;
    background-image: url('../assets/wombat.svg');
    background-repeat: no-repeat;
    background-position: -580px;
    
    @media screen and (max-width: 768px) {
        background-position: -150px;
    }
    
    &-dark { 
        background-color: $grey-600; 
        color: $grey-100;
        .text-splash { color: $blue; }
    }
    &-light { 
        background-color: $grey-100; 
        color: $grey-600;
        .text-splash { color: $blue-burn; }
    }

    .container { 
        width: 70%; 
        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn {
            border-radius: 50%;
            background: $blue;
            font-size: 19px;
            cursor: pointer;

            &-themetoggle  {
                margin-left: 20px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                font-size: 19px;
                color: $grey-100;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    } 

    img {
        height: 65px;
    }

    &-inner {
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 2fr 8fr 1fr;

        main, nav, footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}