@import './variables';

.search {
    display: flex;
    position: relative;
    z-index: 20;
    flex-direction: column;
    align-items: center;

    &-dark {
        .input-search {
            background: $grey-500;
            color: $grey-100;
        }
        .checkbox-tools:not(:checked) + label{ background: $grey-500; }
    }

    &-light{ .checkbox-tools:not(:checked) + label{ background: $grey-200; } }

    .input-search, &-reclist {
        border-radius: 4px;
        border: 2px solid #007e8f9e;
        font-size: 1em;
        font-family: 'Brandon Grotesque';
    }

    .input-search {
        padding: 8px 10px;
        width: 320px;
        margin: 10px 5px;
        transition: border 0.2s;
        text-transform: uppercase;

        &_label {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 768px) {
            width: 280px;
        }

        &:focus {
            outline: none;
            border: solid 2px $blue;
        }
    }

    &-reclist {
        position: absolute;
        top: 75px;
        list-style: none;
        padding: 0px;
        width: 340px;
        margin: 0px 5px;
        max-height: 100px;
        overflow-y: scroll;

        @media screen and (max-width: 768px) {
            width: 300px;
        }

        li {
            padding: 8px;
            transition: background 0.2s;
            background: $grey-100;
            cursor: pointer;
            &:hover {
                background: $blue;
            }
        }
    }

    &-dark {
        .search-reclist li {
            background: $grey-500;
            &:hover {
                background: $blue;
            }
        }
    }

    .radio-container {
        display: flex;
    }


    [type="radio"]:checked,
    [type="radio"]:not(:checked){
        display: none;
    }

    .checkbox-tools:checked + label,
    .checkbox-tools:not(:checked) + label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 40px;
        padding: 10px;  
        margin: 10px 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 250ms linear; 
    }

    .checkbox-tools:not(:checked) + label{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .checkbox-tools:checked + label{
        background: $blue;
        color: $grey-100;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .checkbox-tools:not(:checked) + label:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked){
        border-radius: 4px;
        cursor: pointer;
        appearance: initial;
        width: 20px;
        height: 20px;
        position: relative;
        top: 7px;
    }

    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label{
        color: #fff;
        cursor: pointer;
    }
}
