@import './variables.scss';

.weather-tile-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px;
    overflow-x: hidden;

    height: 55%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    animation: fadeIn ease 1s;

    &.dark {
        .weather-tile { background: $grey-500; };
        .date, .city-stamp { color: $grey-300; }
    }

    &.light {
        .weather-tile { background: $grey-100; }
        .date, .city-stamp { color: $grey-400; }
    }

    .weather-tile {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        border: 3px solid $blue;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        height: 350px;
        width: 225px;
        padding: 10px 25px;
        margin: 0px 20px;

        border-radius: 8px;
        transition: all 0.3s;

        @media screen and (max-width: 768px) {
            height: 280px;
            width: 180px;
            margin: 0px 8px;
        }

        &:first-of-type { margin-left: 0px; }
        &:last-of-type { margin-right: 0px; }

        &.current {
            min-width:225px;
            transform: translateX(0px) scale(1);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            opacity: 1;

            @media screen and (max-width: 768px) {
               min-width: 180px;
            }
        }
          
        &.prev,
        &.next {
            opacity: 0.7;
            transform: scale(0.85);
            min-width:225px;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                min-width: 180px;
            }
        }
        
        &.hide {
            opacity: 0;
            width: 0px;
            border: none;
            padding: 0px;
            margin: 0px;
        }

        &.bookend {
            min-width: 225px;
            opacity: 0;
            transform: scale(0.85);
            @media screen and (max-width: 768px) {
                min-width: 180px;
            }

            &.hide {
                min-width: 0px;
                width: 0px;
                border: none;
                padding: 0px;
                margin: 0px;
            }
        }

        h2 {
            font-size: 2.2em;
            margin: 10px 0px 0px 0px;
        }

        .date {
            font-size: 1em;
            text-transform: uppercase;
            margin: 0px;
        }

        .temperature-container {
            display: flex;
            font-size: 2.5em;
            align-items: center;

            i { 
                font-size: 2em;
                margin-right: 15px;
                background: -webkit-linear-gradient($blue, $blue-burn);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .weather {
            font-size: 2em;
            margin-bottom: 0px;
        }

        .city-stamp {
            text-align: right;
        }
    }
}

.no-loc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55%;

    p { text-align: center ; }
    i { 
        margin-right: 15px;
        background: -webkit-linear-gradient($blue, $blue-burn);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4.5em; 
    }
}
